$primary-color: #ffe4f7;
$primary-font-color: #ff65d1;
$primary-color-translucent: rgba(255, 228, 247, .8);

$shadow: #808080;

@import 'src/styles/slideshow';

html,
body {
  background: $primary-color !important;  // sass-lint:disable-line no-important
}

html {
  color: $primary-font-color;

  h1 {
    font-family: 'Allura', cursive;
  }

  span,
  p,
  div {
    font-family: 'Open Sans', sans-serif;
  }
}

.root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  margin: 0;
  color: $primary-font-color;
  font-size: 60px;
}

h2 {
  margin: 0;
  margin-top: -10px;
  text-align: center;
  color: $primary-font-color;
  font-size: 32px;
}

@mixin headers--mobile {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 32px;
  }
}

.details {
  display: flex;
  position: absolute;
  bottom: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  z-index: 100;
  border-radius: 10px;
  background-color: $primary-color-translucent;
  width: 70vw;
  height: 30%;
  font-size: 32px;
}

@mixin details--mobile {
  .details {
    font-size: 24px;
  }
}

button {
  border: 0;
  border-radius: 16px;
  background-color: $primary-color;
  padding: 10px 20px;
  color: $primary-font-color;
  font-size: 32px;

  &:hover {
    transition: box-shadow .2s, color .2s;
    box-shadow: 5px 5px $shadow;
    cursor: pointer;
  }
}

@mixin button--mobile {
  button {
    font-size: 24px;
  }
}

// mobile
@media only screen and (max-device-aspect-ratio: 9 / 16) and (orientation: portrait) {
  @include headers--mobile;
  @include details--mobile;
  @include button--mobile;
}
