$primary-color: #ffe4f7;
$primary-color-dark: #ffb1e8;
$primary-font-color: #ff65d1;
$primary-color-translucent: rgba(255, 228, 247, .8);

$shadow: #808080;

@import 'src/styles/slideshow';

html,
body {
  background: $primary-color !important;
}

html {
  color: $primary-font-color;

  h1 {
    font-family: 'Allura', cursive;
  }

  span,
  p,
  div {
    font-family: 'Open Sans', sans-serif;
  }
}

.root {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

h1 {
  position: absolute;
  top: 0;
  z-index: 100;
  margin: 0;
  color: $primary-color-dark;
  font-size: 120px;
}

.details {
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  margin-top: -20px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: $primary-color-translucent;
  width: 70vw;
  height: 30%;
  font-size: 36px;
}

button {
  margin-top: 20px;
  border-radius: 16px;
  background-color: $primary-color;
  padding: 10px 20px;
  color: $primary-font-color;
  font-size: 36px;

  &:hover {
    transition: box-shadow .2s, color .2s;
    box-shadow: 5px 5px $shadow;
    cursor: pointer;
  }
}
