<!DOCTYPE html>
<html lang="en">
  <head>
    <meta id="meta" name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta property="og:title" content="#Beccamingachiam - Save The Date">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://firebasestorage.googleapis.com/v0/b/beccamingachiam.appspot.com/o/banner.jpg?alt=media&token=8b519f08-c461-4546-82f7-10bc6f7246b6">
    <meta property="og:description" content="Jonathan + Rebecca sincerely welcome you to our wedding on 6 April 2019. Please RSVP and save the date!">
    <title>#Beccamingachiam - Save The Date</title>
    <link rel="shortcut icon" href="https://firebasestorage.googleapis.com/v0/b/beccamingachiam.appspot.com/o/favicon.ico?alt=media&token=b24befee-6a39-4f7f-93f7-44f23a340459">
    <link rel="icon" type="image/png" sizes="32x32" href="https://firebasestorage.googleapis.com/v0/b/beccamingachiam.appspot.com/o/favicon-32x32.png?alt=media&token=0d75417e-3339-4c4e-92dd-1de1b6f99fc2">
    <link rel="icon" type="image/png" sizes="16x16" href="https://firebasestorage.googleapis.com/v0/b/beccamingachiam.appspot.com/o/favicon-16x16.png?alt=media&token=70fb054e-abcf-4cd2-9d87-c8aca8b12f54">
    <link href="https://fonts.googleapis.com/css?family=Allura|Open+Sans" rel="stylesheet">
  </head>
  <body>
    <div id="root" class="root"></div>
  </body>
</html>
